.image {
  width: 110%;
  height: 500px;
  left: -91.83px;
  z-index: -1;
  
}

.textbox {
 display: flex;
justify-content: space-between;
  width: 375px;
  top: 490px;
  left: -2px;
  border-radius: 200px;
  padding: 20px;
  z-index: 1;
  border-radius: 25px, 25px, 0px, 0px
}



.description{
    font-family: Urbanist;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
padding: 20px;
z-index: 2;

}

 .back-arrow {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    margin-left: -270px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
  }
  
  

 .back-arrow:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfafa;
  height: 30px;
  width: 30px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.fastor-logo {
  
    cursor: grab;
    width: 100px; /* Adjust the logo width as needed */
    height: auto; /* Maintain logo aspect ratio */
    z-index: 1; /* Display the logo above the image */
  }

