.scrollContainer {
  display: flex;
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .scrollContainer {
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .scrollContainer > .card {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .scrollContainer > .card {
    width: 20%;
  }
}

.gridContainer {
  display: flex;
  justify-content: space-around;
  overflow-x: auto; /* Add horizontal scrolling for small screens */
  width: 100%;
  gap: 20px; /* Adjust gap as needed for spacing between cards */
}

/* Media query for responsiveness (decrease size and remove horizontal scrolling) */
@media (max-width: 768px) {
  .gridContainer {
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    overflow-x: hidden; /* Allow horizontal scrolling */
  }
  .gridContainer > .card {
    flex: 1; /* Each card takes equal width within the container */
    max-width: 33%; /* Adjust as needed to control the number of visible cards */
  }
}