.container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 122px;
    height: 118px;
    top: 790px;
    left: 24px;
    border-radius: 14px;
    margin: 20px;
}

